$gray: #c3cddb;

$tag-color: #333539;
$tag-highlight-color: #770847;
$tag-highlight-bg-color: #d955a0;

$header-title: #848c97;

$button-color: #79818f;
$button-border: #c0cad8;
$button-bg-color: #eceff3;
