.search-control {
  display: flex;
  padding: 0 2rem;
  min-width: 830px;
  align-items: center;
  justify-content: space-between;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.5rem;

    &::placeholder {
      color: #c3cddb;
      font-weight: lighter;
    }
  }

  .search {
    user-select: none;
    margin-right: 2rem;
  }

  span {
    color: #333539;
    font-weight: 500;
    font-size: 1.5rem;
    user-select: none;
    border-radius: 4px;
    margin-right: 0.4rem;
    padding: 0.3rem 0.5rem;
    transition: background-color 0.2s, color 0.2s;

    &.highlight {
      color: #770847;
      background-color: #d955a0;
    }
  }

  .cancel {
    user-select: none;
    margin-left: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

